.Container {
  width: calc(100% - 30px);
  height: 65vh;
  background-image: linear-gradient(to left, #9893dbdb, #070071c2);
  margin: 15px;
  border-radius: 30px;
}
.NavBar_Container {
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: red; */
  height: 12%;
  padding: 1%;
}
.NavBar_Title_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.NavBar_Title_get_Letter,
.NavBar_Title_J_Letter,
.NavBar_Title_son_Letter {
  font-family: var(--primary-font-family);
  color: white;
}
.NavBar_Title_get_Letter {
  font-size: 1.1rem;
}
.NavBar_Title_J_Letter {
  font-size: 2rem;
}
.NavBar_Title_son_Letter {
  font-size: 1.5rem;
}

.Header_Container_Left_part {
  height: 75%;
  width: 45%;
  /* border: 1px solid red; */
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.Header_Title {
  display: inline-block;
}
.Header_Json_Text {
  color: white;
  font-size: 3rem;
  font-family: var(--primary-font-family);
}

.Header_Title {
  font-size: 2.5rem;
  color: white;
  font-family: var(--primary-font-family);
  font-weight: 600;
}
.Start_Button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
  font-size: 1.3rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
  background-color: #aef3c7;
  cursor: pointer;
  transition-duration: 200ms;
  color: rgb(37, 37, 37);
}
.Start_Button:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1400px) {
  .Header_Title {
    font-size: 2rem;
  }
}
