@media screen and (max-width: 1400px) {
  .Header_Title {
    font-size: 2rem;
  }
}
@media screen and (min-height: 950px) {
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 350px;
  }
}

@media screen and (min-height: 850px) and (max-height: 950px) {
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 300px;
  }
}

@media screen and (min-height: 750px) and (max-height: 850px) {
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 250px;
  }
}
@media screen and (min-height: 650px) and (max-height: 750px) {
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 200px;
  }
}
@media screen and (min-height: 550px) and (max-height: 650px) {
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 150px;
  }
}
@media screen and (min-height: 0px) and (max-height: 550px) {
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .UpperBar_Container {
    height: 60vh;
  }
}
@media screen and (min-width: 950px) and (max-width: 1200px) {
  .UpperBar_Container {
    height: 450px;
    border-radius: 20px;
  }
  .Header_Container {
    justify-content: space-around;
  }
  .Header_Container_Left_part {
    width: 35%;
    margin-left: 1%;
  }

  .Header_Container_Right_part {
    width: 55%;
  }
  .Header_CodeViewer_Container {
    width: 100%;
  }
  .Header_CodeViewer {
    height: max-content;
  }
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 190px;
  }
  .Header_OutputViewer {
    width: 100%;
    margin-left: 20px;
  }

  .Get_PostMethod_Container {
    display: flex;
    width: calc(100% - 30px);
    border: 1px solid blue;
    justify-content: space-between;
  }

  .GetMethod_Container,
  .PostMethod_Container {
    /* border: 1px solid blue; */
    width: 49%;
    /* min-height: 30vh; */
    height: fit-content;
    margin-top: 20px;
    border-radius: var(--primary-container-border-radius);
    background-image: linear-gradient(150deg, #070071c2 10%, #aef3c7b6 100%);
    padding: 1%;
    box-sizing: border-box;
  }

  .GetMethod_Title {
    font-size: 1.5rem;
    font-family: var(--primary-font-family);
    font-weight: 600;
    color: white;
  }
  .Method_OutputViewer_Container {
    margin-top: 20px;
    max-height: 500px;
  }

  /* Buttom Part */
  .Id_and_Get_Button_Container {
    margin-bottom: 15px;
  }
  .GetMethod_Container,
  .PostMethod_Container {
    margin-top: 15px;
    border-radius: 18px;
  }
  .Id_and_Get_Button_Container input {
    width: 23%;
    border-radius: 8px;
    height: 40px;
  }
  .Get_Method_Button_Container {
    display: flex;
  }
  .Get_Method_Button_Container .Get_Method_Get_Button {
    width: 120px;
    height: 40px;
  }
  .Get_Method_Button_Container .Get_Method_Copy_Button,
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    width: 45px;
    height: 40px;
    border-radius: 8px;
  }
  .InputField_Post_Button_Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .InputField_Post_Button_Container button {
    width: 120px;
    height: 40px;
  }
  .InputField_Container {
    width: 70%;
  }
  .InputField_Container input {
    width: 40%;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 15px;
  }
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    margin-top: 15px;
  }
}
@media screen and (min-width: 700px) and (max-width: 950px) {
  /* Buttom Part */
  .Id_and_Get_Button_Container {
    margin-bottom: 15px;
  }
  .GetMethod_Container,
  .PostMethod_Container {
    margin-top: 15px;
    border-radius: 18px;
  }
  .Id_and_Get_Button_Container input {
    width: 25%;
    border-radius: 7px;
    height: 35px;
  }
  .Get_Method_Button_Container {
    display: flex;
  }
  .Get_Method_Button_Container .Get_Method_Get_Button {
    width: 95px;
    height: 35px;
  }
  .Get_Method_Button_Container .Get_Method_Copy_Button,
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
  }
  .InputField_Post_Button_Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .InputField_Post_Button_Container button {
    width: 95px;
    height: 35px;
  }
  .InputField_Container {
    width: 65%;
  }
  .InputField_Container input {
    width: 37%;
    border-radius: 7px;
    height: 35px;
    margin-bottom: 13px;
  }
  .InputField_Container input:read-write,
  .Id_and_Get_Button_Container input:read-write {
    font-size: 0.9rem;
  }
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    margin-top: 13px;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  /* Buttom Part */
  .Id_and_Get_Button_Container {
    margin-bottom: 10px;
  }
  .GetMethod_Container,
  .PostMethod_Container {
    margin-top: 10px;
    border-radius: 15px;
  }
  .Id_and_Get_Button_Container input {
    width: 20%;
    border-radius: 5px;
    height: 30px;
  }
  .Get_Method_Button_Container .Get_Method_Get_Button {
    width: 85px;
    height: 30px;
  }
  .iconify {
    height: 20px;
    width: 20px;
  }
  .Get_Method_Button_Container .Get_Method_Copy_Button,
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    width: 35px;
    height: 30px;
    border-radius: 8px;
  }
  .InputField_Post_Button_Container button {
    width: 85px;
    height: 30px;
  }
  .InputField_Container {
    width: 65%;
  }
  .InputField_Container input {
    width: 35%;
    border-radius: 7px;
    height: 30px;
    margin-bottom: 10px;
  }
  .InputField_Container input:read-write,
  .Id_and_Get_Button_Container input:read-write {
    font-size: 0.85rem;
  }
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    margin-top: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 950px) {
  .NavBar_Title_Container {
    margin-left: 3%;
  }
  .UpperBar_Container {
    height: 450px;
    border-radius: 18px;
  }
  .Header_Container {
    justify-content: space-around;
  }
  .Header_Container_Left_part {
    width: 35%;
    margin-left: 1%;
  }
  .Header_Title {
    font-size: 1.9rem;
  }
  .Start_Button {
    width: 45%;
    height: 35px;
  }
  .Header_Container_Right_part {
    width: 50%;
  }
  .Get_Button {
    width: 130px;
    height: 35px;
  }
  .Header_CodeViewer_Container {
    width: 100%;
  }
  .Header_CodeViewer {
    height: max-content;
  }
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 185px;
  }
  .Header_OutputViewer {
    width: 100%;
    margin-left: 20px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  * {
    font-size: 18px;
  }
}
@media screen and (min-width: 650px) and (max-width: 750px) {
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 170px;
  }
  .Header_OutputViewer {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .UpperBar_Container {
    height: 380px;
  }
  .Header_Container {
    justify-content: space-around;
  }
  .Header_Container_Left_part {
    width: 35%;
    margin-left: 1%;
  }
  .Header_Title {
    font-size: 1.7rem;
  }
  .Start_Button {
    width: 45%;
    height: 35px;
  }
  .Header_Container_Right_part {
    width: 50%;
  }
  .Get_Button {
    width: 130px;
    height: 30px;
  }
  .Header_CodeViewer_Container {
    width: 100%;
  }
  .Header_CodeViewer {
    height: 40px;
    border-radius: 10px;
  }
  .Header_OutputViewer {
    width: 100%;
    margin-left: 10px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  /* Buttom Part */
  .Get_PostMethod_Container {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  .GetMethod_Container,
  .PostMethod_Container {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
  }
  .Method_CodeViewer_Container {
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
  }
  .Method_OutputViewer_Container {
    margin: 0px 10px 0px 10px;
    margin-top: 15px;
    max-height: 400px;
    border-radius: 10px;
  }
  .Id_and_Get_Button_Container {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .Id_and_Get_Button_Container input {
    width: 25%;
    border-radius: 5px;
    height: 35px;
  }
  .Get_Method_Button_Container {
    display: flex;
  }
  .Get_Method_Button_Container .Get_Method_Get_Button {
    width: 110px;
    height: 35px;
    border-radius: 5px;
  }
  .Get_Method_Button_Container .Get_Method_Copy_Button,
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    width: 40px;
    height: 35px;
    border-radius: 5px;
  }
  .iconify {
    height: 20px;
    width: 20px;
  }
  .InputField_Post_Button_Container {
    width: 100%;
    margin-top: 5px;
  }
  .InputField_Post_Button_Container button {
    width: 110px;
    height: 35px;
    border-radius: 5px;
  }
  .InputField_Container {
    width: 70%;
  }
  .InputField_Container input {
    width: 42%;
    border-radius: 5px;
    height: 35px;
    margin-left: 1.5%;
    margin-bottom: 10px;
  }
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    margin-top: 15px;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  /* Buttom Part */
  .GetMethod_Container,
  .PostMethod_Container {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
  }
  .Id_and_Get_Button_Container {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .Id_and_Get_Button_Container input {
    width: 20%;
    border-radius: 5px;
    height: 30px;
    margin-left: 10px;
  }
  .Get_Method_Button_Container .Get_Method_Get_Button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .Get_Method_Button_Container .Get_Method_Copy_Button,
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    width: 35px;
    height: 30px;
    border-radius: 5px;
  }
  .iconify {
    height: 18px;
    width: 18px;
  }
  .Method_CodeViewer_Container {
    border-radius: 5px;
  }
  .Method_OutputViewer_Container {
    margin-top: 10px;
    max-height: 350px;
    border-radius: 5px;
  }
  .InputField_Post_Button_Container {
    width: 100%;
  }
  .InputField_Post_Button_Container button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
  }
  .InputField_Container {
    width: 75%;
    justify-content: start;
    margin-left: 5px;
  }
  .InputField_Container input {
    width: 35%;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    margin-top: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 350px) {
  /* Buttom Part */
  .Get_PostMethod_Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .GetMethod_Container,
  .PostMethod_Container {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
  }
  .Method_CodeViewer_Container {
    border-radius: 5px;
  }
  .Method_OutputViewer_Container {
    margin-top: 5px;
    max-height: 300px;
    border-radius: 5px;
  }

  .Id_and_Get_Button_Container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  .Id_and_Get_Button_Container input {
    width: 50%;
    border-radius: 5px;
    height: 30px;
    border-width: 0px;
    margin-left: 1%;
    margin-top: -5px;
  }
  .iconify {
    height: 20px;
    width: 20px;
  }
  .Get_Method_Button_Container {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .Get_Method_Button_Container .Get_Method_Get_Button {
    height: 30px;
    width: 70%;
  }
  .Get_Method_Button_Container .Get_Method_Copy_Button,
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    width: 40px;
    height: 30px;
    border-radius: 5px;
  }
  .InputField_Post_Button_Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }
  .InputField_Post_Button_Container button {
    width: 60%px;
  }
  .InputField_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 96%;
    padding: 1%;
  }
  .InputField_Container input {
    width: 38%;
    border-radius: 5px;
    height: 30px;
    margin-left: 2%;
    border-width: 0px;
    margin-bottom: 10px;
  }
  .Post_Method_Button_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    margin-bottom: 10px;
  }
  .Post_Method_Button_Container .Get_Method_Copy_Button {
    margin-top: 0px;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  body {
    margin: 12px 12px 12px 12px;
    overflow-x: hidden;
  }
  .UpperBar_Container {
    width: 100%;
    height: 600px;
    border-radius: 18px;
  }
  .NavBar_Container {
    padding-left: 4%;
    height: 10%;
  }
  .Header_Container {
    flex-direction: column;
    height: 87%;
  }
  .Header_Container_Left_part {
    height: 45%;
    width: 100%;
    margin-left: 0px;
    align-items: center;
  }
  .Start_Button {
    margin-top: 20px;
    border-radius: 5px;
  }
  .Header_Title {
    font-size: 2.3rem;
  }
  .Header_Container_Right_part {
    margin-top: 10px;
    height: 250px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .Header_CodeViewer_Container {
    width: 100%;
  }
  .Header_CodeViewer {
    height: max-content;
    border-radius: 10px;
  }
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 150px;
  }
  .Header_OutputViewer {
    width: 100%;
    margin-left: 10px;
    border-radius: 10px;
  }
  .Start_Button {
    width: 35%;
    height: 38px;
  }
  .Get_Button {
    width: 135px;
    height: 38px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 750px) and (max-width: 800px) {
  * {
    font-size: 16px;
  }
}
@media screen and (min-width: 500px) and (max-width: 750px) {
  * {
    font-size: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  body {
    margin: 12px 12px 12px 12px;
    overflow-x: hidden;
  }
  .UpperBar_Container {
    width: 100%;
    height: 600px;
    border-radius: 18px;
  }
  .NavBar_Container {
    padding-left: 4%;
    height: 10%;
  }
  .Header_Container {
    flex-direction: column;
    height: 87%;
  }
  .Header_Container_Left_part {
    height: 45%;
    width: 100%;
    margin-left: 0px;
    align-items: center;
  }
  .Start_Button {
    margin-top: 20px;
  }
  .Header_Title {
    font-size: 2.3rem;
  }
  .Header_Container_Right_part {
    margin-top: 10px;
    height: 250px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .Header_CodeViewer_Container {
    width: 100%;
  }
  .Header_CodeViewer {
    height: max-content;
  }
  .Header_OutputViewer_and_Get_Button_Container {
    max-height: 150px;
  }
  .Header_OutputViewer {
    width: 100%;
    margin-left: 10px;
  }
  .Start_Button {
    width: 35%;
    height: 38px;
  }
  .Get_Button {
    width: 135px;
    height: 38px;
  }
}
@media screen and (min-width: 200px) and (max-width: 300px) {
  * {
    font-size: 13px;
  }
  .UpperBar_Container {
    width: 100%;
    height: 600px;
  }
  body {
    margin: 10px 10px 10px 10px;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
  * {
    font-size: 13px;
  }
}
@media screen and (min-width: 300px) and (max-width: 350px) {
  * {
    font-size: 11px;
  }
  .Start_Button {
    width: 35%;
    height: 35px;
  }
  .Get_Button {
    width: 125px;
    height: 35px;
  }
}
@media screen and (min-width: 150px) and (max-width: 300px) {
  * {
    font-size: 10px;
  }
  .UpperBar_Container {
    width: 100%;
    height: 550px;
    border-radius: 13px;
  }
  .Start_Button {
    width: 35%;
    height: 32px;
  }
  .Get_Button {
    width: 120px;
    height: 32px;
  }
}
@media screen and (min-width: 0px) and (max-width: 250px) {
  * {
    font-size: 10px;
  }
}
