* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

body {
  margin: var(--primary-body-margin) var(--primary-body-margin-negetive)
    var(--primary-body-margin) var(--primary-body-margin);
  overflow-x: hidden;
}

.UpperBar_Container {
  width: calc(100% - 30px);
  height: 65vh;
  background-image: linear-gradient(
    to left,
    #9893dbdb,
    var(--primary-background-color)
  );
  border-radius: var(--primary-container-border-radius);
}
.NavBar_Container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 12%;
  padding: 1%;
}
.NavBar_Title_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.NavBar_Title_get_Letter,
.NavBar_Title_J_Letter,
.NavBar_Title_son_Letter {
  font-family: var(--primary-font-family);
  color: white;
}
.NavBar_Title_get_Letter {
  font-size: 1.1rem;
}
.NavBar_Title_J_Letter {
  font-size: 2rem;
}
.NavBar_Title_son_Letter {
  font-size: 1.5rem;
}
.Header_Container {
  height: 75%;
  display: flex;
  align-items: center;
}

.Header_Container_Left_part {
  height: 100%;
  width: 35%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.Header_Title {
  display: inline-block;
}
.Header_Json_Text {
  color: white;
  font-size: 3rem;
  font-family: var(--primary-font-family);
}

.Header_Title {
  font-size: 2.5rem;
  color: white;
  font-family: var(--primary-font-family);
  font-weight: 600;
}
.Start_Button,
.Get_Button,
.Id_and_Get_Button_Container button,
.InputField_Post_Button_Container button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
  font-size: 1.3rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
  background-color: var(--primary-button-color);
  cursor: pointer;
  transition-duration: 200ms;
  color: rgb(37, 37, 37);
}
.Start_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.Start_Button:hover,
.Get_Button:hover,
.Id_and_Get_Button_Container button:hover,
.InputField_Post_Button_Container button:hover {
  transform: scale(1.03);
}
.Start_Button:active,
.Get_Button:active,
.Id_and_Get_Button_Container button:active,
.InputField_Post_Button_Container button:active {
  transform: scale(0.98);
}

.Header_Container_Right_part {
  height: 100%;
  /* border: 1px solid blue; */
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.Header_CodeViewer_Container {
  /* height: max-content; */
  /* border: 2px solid red; */
  width: 100%;
}
.Header_CodeViewer {
  /* width: 100%; */
  height: max-content;
  border-radius: 15px;
}
.Header_CodeViewer::-webkit-scrollbar {
  width: 5px;
}
.Header_CodeViewer::-webkit-scrollbar-track {
  background-color: transparent;
}
.Header_CodeViewer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}
.Header_CodeViewer::-webkit-scrollbar-thumb:hover {
  background-color: rgb(173, 173, 173);
}
.Get_Button {
  width: 150px;
}
.Header_OutputViewer_and_Get_Button_Container {
  /* border: 2px solid purple; */
  display: flex;
  margin: 10px 0px 10px 0px;
  max-height: 350px;
}
.Header_OutputViewer {
  border-radius: 15px;
  width: 100%;
  margin-left: 20px;
}
.Header_OutputViewer::-webkit-scrollbar {
  width: 5px;
}
.Header_OutputViewer::-webkit-scrollbar-track {
  background-color: transparent;
}
.Header_OutputViewer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}
.Header_OutputViewer::-webkit-scrollbar-thumb:hover {
  background-color: rgb(173, 173, 173);
}
.Get_PostMethod_Container {
  display: flex;
  width: calc(100% - 30px);
  /* border: 1px solid blue; */
  justify-content: space-between;
}

.GetMethod_Container,
.PostMethod_Container {
  /* border: 1px solid blue; */
  width: 49%;
  /* min-height: 30vh; */
  height: fit-content;
  margin-top: 20px;
  border-radius: var(--primary-container-border-radius);
  background-image: linear-gradient(150deg, #070071c2 10%, #aef3c7b6 100%);
  padding: 1%;
  box-sizing: border-box;
}

.GetMethod_Title {
  font-size: 1.5rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: white;
}
.Method_CodeViewer_Container {
  border-radius: 15px;
}
.Method_OutputViewer_Container::-webkit-scrollbar {
  width: 5px;
}
.Method_OutputViewer_Container::-webkit-scrollbar-track {
  background-color: transparent;
}
.Method_OutputViewer_Container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}
.Method_OutputViewer_Container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(173, 173, 173);
}
.Method_OutputViewer_Container {
  margin-top: 20px;
  max-height: 500px;
  border-radius: 15px;
}

.Id_and_Get_Button_Container {
  /* margin-top: 2%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Id_and_Get_Button_Container input {
  width: 25%;
  border-radius: 10px;
  height: 45px;
  border-width: 0px;
  margin-left: 1%;
}
.Id_and_Get_Button_Container input:read-write {
  outline: none;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  padding: 0px 10px 0px 10px;
  color: black;
}
.iconify {
  height: 24px;
  width: 24px;
}
.Get_Method_Button_Container {
  display: flex;
}
.Get_Method_Button_Container .Get_Method_Get_Button {
  width: 150px;
}
.Get_Method_Button_Container .Get_Method_Copy_Button,
.Post_Method_Button_Container .Get_Method_Copy_Button {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
  transition-duration: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #23272f;
  color: white;
}
.Get_Method_Button_Container .Get_Method_Copy_Button:hover,
.Post_Method_Button_Container .Get_Method_Copy_Button:hover {
  transform: scale(1.03);
}
.Get_Method_Button_Container .Get_Method_Copy_Button:active,
.Post_Method_Button_Container .Get_Method_Copy_Button:active {
  transform: scale(0.98);
}
.PostMethod_Container {
  background-image: linear-gradient(150deg, #070071c2 10%, #aef3c7b6 100%);
}

.InputField_Post_Button_Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.InputField_Post_Button_Container button {
  width: 150px;
}
.InputField_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}
.InputField_Container input {
  width: 43%;
  border-radius: 10px;
  height: 45px;
  margin-left: 1%;
  border-width: 0px;
  margin-bottom: 20px;
}
.InputField_Container input:read-write {
  outline: none;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  padding: 0px 5px 0px 15px;
}

.Post_Method_Button_Container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.Post_Method_Button_Container .Get_Method_Copy_Button {
  margin-top: 20px;
}
